<div class="chat-item">
    <div class='avatar-small'><img src="{{avatar}}" alt="avatar" width="47" height="47"></div>
    <div class="chat-item__content">
        <div class='chat-item__name'>{{title}}</div>
        <div class='chat-item__last-message'>{{last_message.content}}</div>
    </div>
</div>