<div class="authorization">
    <div class="authorization__title">
        <h3>Enter</h1>
    </div>

    <form action="" class="authorization__form">
        {{{loginField}}}
        {{{passwordField}}}
        {{{button}}}
        {{{logout}}}
    </form>

    <a href="/registration"> Create a profile</a>
</div>