<div class="modal-window {{modalClass}}">
    <div class="modal-container">
        <form action='' enctype="multipart/form-data" name="avatar_image">
            <input type="file" id="file_chat_avatar" name="avatar">
            {{{chatIdField}}}
            {{{buttonChangeAvatar}}}
        </form>
        
    </div>
</div>